.title {
  margin: 1rem 0;
}
.task {
  display: flex;
  align-items: flex-start;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.taskCheckbox {
  flex: 0 0 10%;
  max-width: 10%;
  height: 2rem;
  margin-top: 0.5rem;
}
.taskText {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 0 0 0.5rem;
  color: #383f50;
  &.taskTextDone {
    text-decoration: line-through;
    color: #b2b7bb;
  }
}
.taskActions {
  flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  justify-content: space-between;
}
.taskBtn {
  flex: 0 0 50%;
  max-width: 50%rem;
  font-size: 1.5rem;
}
